
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

##############
# .NET / C#  #
##############
**/bin/
**/obj/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

*.dll
*.exe
*.app
*.cache
*.pdb
*.mdb
*.nupkg
*.msi

*.db
*.bak
*.log

TestResults/
*.coverage
*.coveragexml

######################
# App Configuration  #
######################
/src/HabitumAPI/appsettings.json
**/src/HabitumAPI/appsettings.json
**/appsettings.json
**/appsettings.*.json

##################
# React Native / Expo
##################
node_modules/
**/.expo/
**/.expo-shared/
